{% extends "base.html" %}

{% block body %}
<br>

<div class="tentang-kami" style="text-align: justify;">
  <h3>Tentang Kami</h3>
<hr>
<br>
  Kami menyediakan layanan untuk membuat daftar tugas untuk sekolah, kuliah, dan pekerjaanmu. 
  disaat ini seringkali ditemukan permasalahan dalam membuat daftar tugas yang mudah untuk 
  dioperasikan sekaligus menjadi pengingat untuk mengerjakan. Dengan fitur berbagi dan pengingat, semoga layanan kami
  dapat menjadi solusi untuk masalah kalian yang sibuk ya! Jangan lupa mengerjakan tugas!
  <br>
</div>
{% endblock %}
